# Created by https://www.gitignore.io

### NetBeans ###
nbproject/

### Concrete5 ###
c5/concrete/
c5/config/
c5/languages/
c5/INSTALL.md
c5/LICENSE.TXT
c5/index.php
c5/robots.txt

### Foundation ###

work/bower_components/
work/css/
work/node_modules/
work/README.md
